body {
	font-size:16px;
}
section#splash {
	color: #FFFFFF;
	background-image: url(/images/closeup_yarn_image.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}
h1 {
	font-size: 5em;
	font-family: 'Fontdiner Swanky', cursive;
	text-align: center;
}
hr {
	width: 400px;
}
p {
	font-size: 2em;
	text-align: center;
}
#slogan {
	font-size: 4em;
	text-align: center;
	font-style: italic;
}
section#contactme {
	text-align: center;
}
