{margin:0; padding:0; box-sizing:border-box;}
body {
	color: #FFFFFF;
	
}
h1 {
	font-size: 80px;
	font-family: 'Fontdiner Swanky', cursive;
	text-align: center;
}
p {
	font-size: 50px;
	text-align: center;
}
